:root {
  --animate-delay: 500ms;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
}

html body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

body {
  font-family: 'Bangers', 'Courier New', Courier, monospace;
  font-size: 25px;
  background-color: #202020;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
  color: white;
}

.footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer a {
  margin-top: 8rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #80ca80;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a i {
  margin-right: 5px;
}

.homeScreen {
  text-align: center;
}

.homeScreen .title {
  margin-top: 2rem;
}

.homeScreen .title h1 {
  font-size: 4.5rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.homeScreen .title h1:hover {
  cursor: pointer;
  color: #80ca80;
  letter-spacing: .8rem;
}

@-webkit-keyframes playerAnimate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes playerAnimate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes vsAnimate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  45% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes vsAnimate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  45% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.homeScreen .playerSelection .playerContainer {
  padding: 1rem 0 11rem 0;
  border-radius: 15px;
  background-color: black;
  -webkit-box-shadow: 0px 0px 5px #80ca80;
          box-shadow: 0px 0px 5px #80ca80;
  -webkit-animation: playerAnimate 1.5s 1 ease-out;
          animation: playerAnimate 1.5s 1 ease-out;
}

.homeScreen .playerSelection .playerContainer .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.homeScreen .playerSelection .playerContainer .foot p {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  color: white;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
}

.homeScreen .playerSelection .playerContainer .foot p.selected {
  color: #80ca80;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.homeScreen .playerSelection .vs {
  font-size: 4rem;
  height: inherit;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-animation: vsAnimate 2s 1 ease-in;
          animation: vsAnimate 2s 1 ease-in;
}

.homeScreen .playerSelection .vs span {
  margin: 1rem;
  display: none;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.homeScreen .playerSelection .vs span.animate {
  display: block;
  -webkit-animation: playerAnimate 1.5s 1 ease-in-out;
          animation: playerAnimate 1.5s 1 ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.homeScreen .playerSelection .vs span button {
  padding: 0 1rem;
  border-radius: 15px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.homeScreen .playerSelection .vs span button:hover {
  color: white;
  background-color: #80ca80;
  cursor: pointer;
}

.homeScreen .playerSelection h2 {
  font-size: 3rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.homeScreen .playerSelection h2:hover {
  color: #80ca80;
  cursor: pointer;
}

.loadScreen h1 {
  font-size: 4.5rem;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.loadScreen .loadTitle {
  margin-top: 2rem;
}

.loadScreen #count {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.playScreen .return {
  margin-top: 2rem;
}

.playScreen .return button {
  padding: .1rem 1rem;
  border-radius: 15px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.playScreen .return button:hover {
  background-color: #80ca80;
  color: white;
}

.playScreen .players {
  font-size: 2.5rem;
}

.playScreen .players .player {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.playScreen .players .player.focus {
  color: #80ca80;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.playScreen .players .player.fWin {
  color: #80ca80;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.playScreen .gameBoard {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (110px)[3];
      grid-template-columns: repeat(3, 110px);
  -ms-grid-rows: (110px)[3];
      grid-template-rows: repeat(3, 110px);
  gap: 15px;
}

.playScreen .gameBoard .space {
  background-color: white;
  width: 110px;
  height: 110px;
  border-radius: 15px;
  color: black;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 4rem;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.playScreen .gameBoard .space:hover {
  background-color: rgba(128, 202, 128, 0.411);
  cursor: pointer;
}

.playScreen #again {
  opacity: 0;
  margin-top: 20rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  padding: 15px;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  border-radius: 15px;
}

.playScreen #again:hover {
  background-color: #80ca80;
  color: white;
}
/*# sourceMappingURL=styles.css.map */